body {
    background: #f7f7f7;
    padding: 30px;
}

#country-info img {
    width: 160px;
    margin-top: 10px;
}

/* Modal */
#modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

/* Grid centralizado */
.grid-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

/* Cards */
.card {
    width: 250px;
    border-radius: 10px;
}

.card-img-top {
    height: 110px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 12px;
}

.btn {
    padding: 4px 8px;
    font-size: 14px;
}